<!DOCTYPE html>
<html>
  <head>
    <title>Rails7DeviseRyATemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/nav_bar' %>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <p class="flash__<%= key %> my-1"><%= value.html_safe %></p>
      <% end -%>
    <% end %>
    <div id='js_container'></div>
    <%= yield %>
  </body>
</html>
